extends layout

block content
  h1= title
  .container-fluid 
    .row 
      each phone,key in results
        div(class="col-sm-2 iphonebox" onclick=`buy(${key})`) 
           = " " +phone.model+" "+phone.color+" "+phone.price
  script.
    function buy(index){
      alert("You purchased item "+index)
    }
